---
---

@import "{{ site.theme }}";

body {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
}

.nav {
    list-style-type: none;
    margin-top: 50px;
    padding: 0;
    color: white;
    font-weight: bold;
  
}

.project-description {
  font-style: italic;
}
