<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    
    {% feed_meta %}
    
     <link rel="icon" 
      type="image/png" 
      href="https://i.imgur.com/w5bbKxz.png">

    
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108205532-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-108205532-1');
</script>


{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
 
var n = 50,
    random = d3.random.normal(0, .2),
    data1 = d3.range(n).map(random);
    data2 = data1.map(function(d){return d + random()*0.6 ;})

function getSize() {
  var myWidth = 0, myHeight = 0;
  if( typeof( window.innerWidth ) == 'number' ) {
    //Non-IE
    myWidth = window.innerWidth;
    myHeight = window.innerHeight;
  } else if( document.documentElement && ( document.documentElement.clientWidth || document.documentElement.clientHeight ) ) {
    //IE 6+ in 'standards compliant mode'
    myWidth = document.documentElement.clientWidth;
    myHeight = document.documentElement.clientHeight;
  } else if( document.body && ( document.body.clientWidth || document.body.clientHeight ) ) {
    //IE 4 compatible
    myWidth = document.body.clientWidth;
    myHeight = document.body.clientHeight;
  }
  return {w: myWidth, h: myHeight}
}

var margin = {top: 20, right: -100, bottom: 20, left: -100},
    width = getSize().w - margin.left - margin.right,
    height = getSize().h - margin.top - margin.bottom;
 
var x = d3.scale.linear()
    .domain([0, n - 1])
    .range([0, width]);
 
var y = d3.scale.linear()
    .domain([-1, 1])
    .range([height, 0]);
 
var line = d3.svg.line()
    .x(function(d, i) { return x(i); })
    .y(function(d, i) { return y(d); })
    .interpolate("basis");
 
var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
 
svg.append("defs").append("clipPath")
    .attr("id", "clip")
  .append("rect")
    .attr("width", width)
    .attr("height", height);
 
var path1 = svg.append("g")
    .attr("clip-path", "url(#clip)")
  .append("path")
    .datum(data1)
    .attr("class", "line")
    .attr("d", line);


var whiterect = svg.append("rect")
  .attr("x", width - width/4)
  .attr("y", 0)
  .attr("width", width/4)
  .attr("height", height)
  .style("fill","white");
 
var path2 = svg.append("g")
    .attr("clip-path", "url(#clip)")
  .append("path")
    .datum(data2)
    .attr("class", "line")
    .attr("d", line)
    .style("stroke-opacity", 0.3);

tick();
 
function tick() {
 
  // push a new data point onto the back
  var rval1 = random()*2;
      rval2 = rval1 + random()*0.6; 

  data1.push(rval1);
  data2.push(rval2);
 
  // redraw the line, and slide it to the left
  path1
      .attr("d", line)
      .attr("transform", null)
    .transition()
      .duration(500)
      .ease("linear")
      .attr("transform", "translate(" + x(-1) + ",0)");

  path2
      .attr("d", line)
      .attr("transform", null)
    .transition()
      .duration(500)
      .ease("linear")
      .attr("transform", "translate(" + x(-1) + ",0)")
      .each("end", tick);
 
  // pop the old data point off the front
  data1.shift();
  data2.shift();
 
}
 
</script>
    <section class="page-header">
      <h1 class="project-name"><a href="/" class="project-name">Normality</a></h1>
      <p class="project-description">Combining analytics, machine learning and marketing to rapidly and repeatedly deliver you insights and advantages from your data.</p>
      <ul class="nav">
        <li><a href="/" class="nav">Home</a></li>
        <li><a href="/" class="nav">Articles</a></li>
	      <li><a href="/consultancy" class="nav">Consultancy</a></li>
  <li><a href="/aboutme" class="nav">About</a></li>
        
</ul>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">

	      
        {% if site.github.is_project_page %}
          
        {% endif %}
        
      </footer>
    </section>

  </body>
</html>
